


/*

SystemInfo

{
	"CpuUsage":
		[
			{"Unit":[15.5,0.0,0.0,0.0]},
			{"Unit":[12.5,0.0,3.0,2.0]}
		],
	"MemoryUsage": {"Max":8589934592, "Current":6442450944},
	"ApiKey": "f31fc79434df8e4b7f9fd1f5bebe5b111baf8571",
	"EnvInfo":null
}

*/